// body
//   font-family "Roboto", sans-serif
//   font-size 16px
.navbar .site-name
  display: none
.sidebar
  background: #F5F7F9
// placeholder for test, dont't remove it.
@require '~vuepress-plugin-tabs/dist/themes/default.styl';
//.content {
//  font-size 30px;
//}
/* ul, ol
  padding-left 1em */
.theme-default-content.content__default
  a
    border-bottom 1px solid #1c6ab6
    &:hover
      text-decoration: none
  ol li
    padding-left 1rem
  ul li
    padding-left 0.2rem

.tabs-component-tabs
  display -webkit-flex
  -webkit-flex-wrap wrap
  display flex
  flex-wrap wrap
  justify-content center
  border none
// @media (min-width: 700px)
//   .tabs-component-tabs
//     border none
.tabs-component-tab
  color #1c6ab6
  &.is-active
    background #1c6ab6
    border-radius 6px
    -moz-border-radius 6px
    -webkit-border-radius 6px
    -o-border-radius 6px
    box-shadow 0 5px 15px 0 rgba(0,0,0,0.15)
    color: #fff
  &.is-disabled
    color black
.tabs-component-panels
  a
    border-bottom none !important
@media (min-width: 700px)
  .tabs-component-panels
    padding 1.5em 1.5em
.tabs-component-tab-a
  border-bottom none !important
  padding: 1em 1em
  align-items: center;
  justify-content: center;
.page-nav
  font-size: 0.8rem
.page-nav p > a
  border-bottom none
.theme-default-content
  pre[class*="language-"] code
    color: #2c3e50
.theme-default-content:not(.custom)
  img
    display: block
    margin: 1.2rem auto 1rem auto
    height auto
    border-radius 4px
    -moz-border-radius 4px
    -webkit-border-radius 4px
    -o-border-radius 4px
    box-shadow 0 0 50px 3px rgba(69,79,91,0.2)
    -webkit-box-shadow 0 0 50px 3px rgba(69,79,91,0.2)
.custom-block .custom-block-title
  margin-bottom: 1rem
.tip.custom-block
  background-color:#f3f5f7
  border-color: #1c6ab6
pre.vue-container
  border-left-width: .5rem
  border-left-style: solid
  border-color: #5c6ac4
  border-radius: 0px;
  & > code
    font-size: 14px !important;
    & > p
      margin: -5px 0 -20px 0;
    code
      background-color: #f4f6f8 !important;
      padding: 3px 5px;
      border-radius: 3px;
      color #000
    em
      color #808080
      font-weight light

button{
    display inline-block
    font-size 1rem
    color #fff
    background-color #1c6ab6
    padding .5rem 1rem
    border-radius 4px
    transition background-color .1s ease
    box-sizing border-box
    cursor: pointer
    border-bottom 1px solid #1c6ab6
}

.theo
  margin 1rem 0
  padding .1rem 1.5rem
  border-radius 0.4rem
  background-color #f0f4f8
  .title
    font-weight bold

.custom-block
  &.right
    color transparentify($textColor, 0.4)
    font-size 0.9rem
    text-align right


.video-wrapper {
  position: relative
  display: block
  margin: 1.2rem auto 1rem auto
  height: 0
  padding: 0
  overflow: hidden
  padding-bottom: 56.25%
}
.video-wrapper > iframe {
  position: absolute
  top: 0
  bottom: 0
  left: 0
  width: 100%
  height: 100%
  border: 0
}

.btn {
  background: #1c6ab6;
  border: none;
  color: #ffffff
  line-height: 1.5
  font-weight: 500
  font-size: 1 rem
  letter-spacing: 0.04em
  position: relative
  outline: none
  padding: 3px 19px 3px
  display: inline-flex
  justify-content: center
  align-items: center
  text-align: center
  min-height: 40px
  cursor: pointer
  text-decoration: none
  border-radius: 6px
  transition: all 0.2s linear
  -ms-transition: all 0.2s linear
  -webkit-transition: all 0.2s linear
  -o-transition: all 0.2s linear
}

.btn i {
  font-size: 18px
  line-height: 1
  position: relative
  top: -1px
  margin-right: 5px
}
.btn i + span:not([class]){
  position: relative
  top: 1px
}

.btn-icon-right i {
  margin-left: 5px
}
.tooltip-target.btn {
  background #DE3618
}

.btn-icon-left i {
  margin-right: 5px
}

.btn:active,
.btn:visited,
.btn:focus,
button:focus {
  outline: none
  box-shadow: none
}

.btn:hover {
  background: #3B0086;
  color: #ffffff
  outline: none
}

.btn + [class^="btn"] {
  margin-left: 10px
}

.btn.btn-video:not(:hover) {
  background: #DE3618
}
.btn.btn-video:hover {
  background: #BF0711
}
.btn.btn-video i {
  margin-right: 5px
  font-size: 1.5 rem
}
video {
  height auto
  margin 1.2rem auto 1rem
  display block
  max-width 100%
}

.tooltip {
  display: block !important;
  z-index: 10000;
}

.tooltip .tooltip-inner {
  background: black;
  color: white;
  border-radius: 16px;
  padding: 5px 10px 4px;
}

.tooltip .tooltip-arrow {
  width: 0;
  height: 0;
  border-style: solid;
  position: absolute;
  margin: 5px;
  border-color: black;
  z-index: 1;
}

.tooltip[x-placement^="top"] {
  margin-bottom: 5px;
}

.tooltip[x-placement^="top"] .tooltip-arrow {
  border-width: 5px 5px 0 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  bottom: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="bottom"] {
  margin-top: 5px;
}

.tooltip[x-placement^="bottom"] .tooltip-arrow {
  border-width: 0 5px 5px 5px;
  border-left-color: transparent !important;
  border-right-color: transparent !important;
  border-top-color: transparent !important;
  top: -5px;
  left: calc(50% - 5px);
  margin-top: 0;
  margin-bottom: 0;
}

.tooltip[x-placement^="right"] {
  margin-left: 5px;
}

.tooltip[x-placement^="right"] .tooltip-arrow {
  border-width: 5px 5px 5px 0;
  border-left-color: transparent !important;
  border-top-color: transparent !important;
  border-bottom-color: transparent !important;
  left: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip[x-placement^="left"] {
  margin-right: 5px;
}

.tooltip[x-placement^="left"] .tooltip-arrow {
  border-width: 5px 0 5px 5px;
  border-top-color: transparent !important;
  border-right-color: transparent !important;
  border-bottom-color: transparent !important;
  right: -5px;
  top: calc(50% - 5px);
  margin-left: 0;
  margin-right: 0;
}

.tooltip.popover .popover-inner {
  background: #f9f9f9;
  color: black;
  padding: 1em;
  border-radius: 6px;
  box-shadow: 0 5px 30px rgba(black, .1);
  max-width 100%
 
}
.tooltip.popover .popover-inner
  img {
    max-width 100%
  }
.tooltip.popover .popover-arrow {
  border-color: #f9f9f9;
}

.tooltip[aria-hidden='true'] {
  visibility: hidden;
  opacity: 0;
  transition: opacity .15s, visibility .15s;
}

.tooltip[aria-hidden='false'] {
  visibility: visible;
  opacity: 1;
  transition: opacity .15s;
}
.contains-task-list {
  list-style-type none
}

.custom-gallery
  display -webkit-flex
  -webkit-flex-wrap wrap
  display flex
  flex-wrap wrap
  .img-group
    flex 1
    margin 5px
  p
    text-align center
    font-style: italic;
    font-size: 80%;
    color: #666;

a.header-anchor {
  border-bottom: none !important;
}

#how-to-access-acf 
  border-bottom none
